.footer-panel {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    position: relative;
    height: 300px;
}

.footer-body {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    flex-direction: column-reverse;
}

.footer-panel:hover{
    -unity-background-image-tint-color: var(--color-hover-success);
}

.footer-active {
    -unity-background-image-tint-color: var(--color-item-selected);
}