.towerName {
    background-image: resource('Icons/PaperRibbon');
    position: absolute;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    -unity-text-align: upper-center;
}
